* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Fontes Google */
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
}

.container-pai {
  width: 200px;
  height: 200px;

  /* FlexBox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-filho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  gap: 3px;
}



.input-text {
  width: 157px;
  padding: 1px 3px;
  outline: none;
}

#input-resultado {
  width: 157px;
  height: 70px;
  padding: 3px;
  outline: none;
  resize: none; /* impede redimensionamento */
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  text-align: left;

  display: flex;
  align-items: flex-start; /* garante texto no topo */
  justify-content: flex-start;
}

#input-resultado::placeholder {
  text-align: left;
}

.container-button {
  width: 160px;
  padding: 5px 0px;

  /* Flexbox */
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 77px;
  padding: 2px;
  border-radius: 3px;
  border: solid 1px #4c4c4d;
  cursor: pointer;
}
